<!DOCTYPE html>
<html>
 <head>
  <title><%= title %></title>
  <link rel='stylesheet' href='stylesheets/style.css'/>
 </head>
 <body>
  <ul>
   <li><a href="/">My Blog</a></li>
   <li><a href="/list">List Blogs</a></li> 
   <li><a href="/add">Add Blogs</a></li>
  </ul>
  <h1><%= title %></h1>
  <p>This Site Is Under Construction</p>
 </body>
</html>


